[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'IBM Plex Sans', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
  background-color: black;
}

.big-title, .title, .subtitle, .text {
    font-weight: bold;
    padding: 1.2rem;
    color: white;
}

.big-title {
    font-size: 5rem;
}

.title {
    font-size: 2.5rem;
}

.subtitle {
    font-size: 2rem;
}

.text {
    font-size: 1.2rem;
}

.page-wrapper-left, .page-wrapper-right {
    display: grid;
    padding-bottom: 10%;
    animation: fade-in 1.5s ease;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.page-wrapper-left {
    grid-template-columns: 10% 55% 25% 10%;
}

.page-wrapper-right {
    grid-template-columns: 10% 25% 55% 10%;
}

.page-title-left, .page-title-right {
    justify-self: center;
    align-self: center;
}

.page-title-left {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.page-title-right {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.page-content-left {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.page-content-right {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.navlink {
    font-size: 2rem;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.selected {
    color: white;
    padding: 1rem;
    border-radius: 0.8rem;
}

#logo-wrapper {
    padding-left: 5%;
    outline: none;
}

#logo {
    max-width: 80%;
}

#header {
    position: sticky;
    top: 0%;

    display: grid;

    grid-template-columns: 25% 65% 10%;
    padding-top: 1%;

    justify-items: center;
    align-items: center;
}

#navbar, #navbar-hidden {
    transition: 0.4s ease-out;
    position: absolute;
    background-color: black;

    grid-column: 2 / span 1;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    padding-top: 30%;

    width: 100%;

    justify-items: center;
}
#navbar {
    top: -200%;
}
#navbar-hidden {
    top: -300%;
}


#navbar-separator {
    grid-row: 2 / span 1;
    grid-column: 1 / span 4;
    width: 100%;

    border: 1px solid white;
    margin-top: 1%;
    margin-bottom: 1%;
}

#first-line-transition {
    transform: rotate(45deg) translate(12px, -7px) scale(0.8);
}
#middle-line-transition {
    transform: translateX(110%);
}
#second-line-transition {
    transform: rotate(-45deg) translate(-16px, 4px) scale(0.8);
}

#navbtn {
    grid-column: 3 / span 1;
    width: 50%;
    padding-left: 5%;
    cursor: pointer;
}

.navbtn-line {
    transition: 0.4s ease;
    stroke: white;
    stroke-width: 4;
}

#footer {
    text-align: center;
    position: sticky;
    bottom: 0%;

    font-weight: bold;
}

.blob {
    position: absolute;
    width: 30%;
    z-index: -1;
}

.side-img {
    border-radius: 0.8rem;
}

#per {
    max-width: 300px;
}


#contact {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    justify-items: center;
    align-items: center;
}

#contact-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

#contact-header {
    grid-row: 1 / span;
    grid-column: 2 / span 2;
}

#address, #email, #mobile {
    grid-row: 2 / span 1;
}

#address {
    grid-column: 1 / span 1;
}
#email {
    grid-column: 2 / span 1;
}
#mobile {
    grid-column: 3 / span 1;
}


#map {
    border-radius: 0.8rem;
}

#not-found {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    padding: 10%;
}
